##############################################
# UTGANGSPUNKT FOR FILBANER
##############################################
SERVER_PATH = "/var/www/..."
BASE_URL = "/"

##############################################
# HOVEDSIDER
##############################################
DATAINPUT = "nav_datainput.php"
ADMIN = "nav_admin.php"
OVERSIKT = "nav_filoversikt.php"
DATAINPUT_EDIT = "/av_datainput_edit.php"
REFERANSESJEKK = "nav_referansesjekk.php"

##############################################
# MAPPER
##############################################
JSON_M = "json"
TABELLER_M = "tabeller"
SKJEMA_M = "skjema"
CREDENTIALS_M = "credentials"
NAVIGERING_M = "navigering"
SCRIPT_M = "script"
ANDRE_SIDER_M = "andre_sider"

##############################################
# JAVASCRIPT
##############################################
FO_BOK_JS = "js_filoversikt_bokutdrag.php"
FO_ARTIKLER_JS = "js_filoversikt_artikler.php"
FO_ANNET_JS = "js_filoversikt_annet.php"
FO_SAMMENSATT_JS = "js_filoversikt_sammensatt.php"

NAV_FO_JS = "js_nav_filoversikt.php"
NAV_DI_JS = "js_nav_datainput.php"
NAV_RS_JS = "js_nav_referansesjekk.php"

JS_DI_SAMMENSATT = "js_skjem_sammensatt.php"
##############################################
# JSON
##############################################
BOK_JSON = "bokutdrag.txt"
ARTIKLER_JSON = "artikler.txt"
ANNET_JSON = "annet.txt"
SAMMENSATT_JSON = "sammensatt.txt"
ALLE_JSON = "samlet_fil_utdrag.txt"

UREG_FILER_JSON = "json_ureg_bok.txt"
UNIK_ISBN_JSON = "json_bok_unik.txt"

##############################################
# PHP-SCRIPT
##############################################
LOGGUT_C = "logg_ut.php"
LOGGINN_C = "logg_inn.php"
SET_SESSION = "set_session.php"
AJAX_HANDLER = "ajax_handler.php"
C_PASSORD = "endre_passord.php"
LAGRE_MYSQL = "lagre_til_mysql.php"
LAGRE_JSON = "lagre_til_json.php"
HOLD_INNLOGGET = "hold_innlogget_cookie.php"

##############################################
# TABELLER
##############################################
TB_BOK = "tab_bokutdrag.php"
TB_ANNET = "tab_annet.php"
TB_ARTIKLER = "tab_artikler.php"
TB_SAMMENSATT = "tab_sammensatt.php"

##############################################
# SKJEMA
##############################################
SK_BOK = "skjem_bokutdrag.php"
SK_ANNET = "skjem_annet.php"
SK_ARTIKLER = "skjem_artikler.php"
SK_SAMMENSATT = "skjem_sammensatt.php"

##############################################
# ANDRE SIDER
##############################################
AS_REFSJEKK = "js_referansesjekk.php"

##############################################
# ANNET
##############################################
BRUKERMENY = "nav_brukermeny.php"
MODALS = "nav_modals.php"
TOKEN_EXPIRY = "3600"

##############################################
# MYSQL-INNLOGGINGSDATA
##############################################
DB_SERVERNAME = "localhost"
DB_USERNAME = "DB_USERAME"
DB_PASSWORD = "DB_PASSORD"
DB_NAME = "db_oslomet"
##############################################
# EPOST-INNSTILLINGER
##############################################
SMTP_HOST = "-"
SMTP_USERNAME = "-"
SMTP_PASSWORD = "-"


API_OSLOMET_TOKEN=""
